
body{
    padding: 10%;
    font-family: roboto, sans-serif;
    font-size: 2rem;
}

a{
    text-decoration: none;
    background-color: aqua;
    cursor: pointer;
    color: hsl(240, 100%, 50%);
}

a:visited{
    color: orange;

}

a:hover,a:focus{
    color:hsl(230, 100%, 50%);
    /* opacity: 0.9; */
    background-color: gold;
}

a:active{
    color: royalblue;
}