/*

Typography is the way that text is arranged and 
presented.

*/

body{
    padding: 10%;
    font-size: 2rem;

}

/* input, button{
    font: inherit;
} */

p{
    text-decoration: dashed;
    text-transform: capitalize;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
    font-weight: lighter;
    font-style: oblique;
    /* font-family: sans-serif; */
    /* font-family: monospace; */
    font-family: 'Courier New', Courier, monospace;
    text-indent: 2em;
}